*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: black;
    color: white;
    height: 100vh;
}


/* sezione visuale */

.container-section{
    display: flex;
    
}
.view{
    justify-content: flex-end;
    height: 50px;
    align-items: flex-start;
}
.view-btn{
    background-color: #4a4a4a;
    padding: 3px 5px;
    margin: 5px;
    border-radius: 5px;
}

/* sezione utenti */


.users{
    justify-content: space-around;
    flex-wrap: wrap; 
    height: 70vh;  
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}
.user-item{
    width: calc(100% / 7 - .3em);
    margin-bottom: .3em;
    /* height: 150px; */
    
}

.user-item img{
 width: 100%;
 height: 100%;
 object-fit: contain;
}

