*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: black;
    color: white;
    height: 100vh;
}


/* sezione visuale */

.container-section{
    display: flex;
    
}
.view{
    justify-content: flex-end;
    height: 50px;
    align-items: flex-start;
}
.view-btn{
    background-color: #4a4a4a;
    padding: 3px 5px;
    margin: 5px;
    border-radius: 5px;
}

/* sezione utenti */


.users{
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap; 
    height: 80vh;  
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    overflow-y: auto;
    
    
}
.user-item{

    min-width: 200px;
    width: calc(100% / 7 - .3em);
    height: calc(80vh / 5 - .5em);
    margin-bottom: .5em;
    background-image: url(https://picsum.photos/300/200);
    display: flex;
    align-items: flex-end;
    
}

.username{
    background-color: rgba(103, 115, 124, .7);
    font-size: 14px;
    padding: .4em;
}
